
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 40px;
  

}

.skills-title {
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.skills-title h2 {
  font-size: 60px;
  font-weight: 600;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 120px;
  width: 110px;
  background-color: #212121;
  margin: 8px;
  border-radius: 5px;
}

.cards>h3 {
  color: var(--dark-40);
  font-size: 18px;
  font-weight: 500;
}

.cards img {
  height: 60px;
}