.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height:  80vh;
}

.about img {
    height: 295px;
    width: 300px;
}



.about-title h1 {
    font-size: 65px;
    font-weight: 600;
}
 
.about-sections {
    display: flex;
     gap: 50px;  
}

.about-left img {
    border-radius: 5px;
    margin-left: 40%;
    align-items: center;
    
}

.about-right {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
     width: 60%;
     margin-left: 10%;
}

.about-description {
   display: flex;
   flex-direction: column;
   gap: 20px;
  
}

.about-description p {
    width: 95%;
    font-size: 20px;
    font-weight: 500; 
    text-align: justify;
}

.skills-icon {
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

.skills-icon h2 {

    font-size: 40px;
    font-weight: 600;
}

.skills-icon ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
@media(max-width:768px){
    .about {
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .about-title h1 {
        font-size: 52px;
        padding: 0;
    }
    .about-left img {
        margin-left: 0;
        width: 275px;
        right: -20px;
    }

    .about-sections {
        flex-direction: column;
    }
    .about-left {
        display: none;
    }
    .about-right {
        width: 100%;
        margin-left: 0;
        
    }
    .about-description p {
        font-size: 18px;
        line-height: 18px;
       
    }
}

